body {
    margin: 20px;
    background-color: #a3b18a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 30px;
    border:4px solid #344e41;
}

.card {
    width: 400px;
    margin: 0 auto 0 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dad7cd;
    color: #344e41;
    border-block: 8px solid #344e41;
    border-inline: 8px solid #588157;
}

.border-blue {
    border: 1px dotted blue;
}
button{
    margin-top:20px;
    margin-left:-40px;
    font-size:large;
    font-weight: bold;
    text-align: center;
    background: #dad7cd;
    color: #344e41;
    border-block: 8px solid #344e41;
    border-inline: 8px solid #588157;
    height: 50px;
    width:450px;

}
button:hover {
background-color: #78ffbb;
transform: translateY(-3px);
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
ul{
    list-style-type: none;
}
